*{
    box-sizing: border-box;
    margin: 0;
}

main{
    border: 2px solid;
    display: flex;
    height: 500px;
    flex-direction: row;
}

.box{
    width:100px;
    height:100px;
    background-color:aqua;
}

.box:nth-child(3n){
    background-color: seagreen;
}

.box:nth-child(2n){
    background-color: slategray;
}

.box:nth-child(2) {
    flex-grow: 2;
    flex-shrink: 8;
  }
  .box:nth-child(3) {
    flex-grow: 1;
    flex-shrink: 0;
  }